include ../_data/navs.pug
block meta
doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    meta(name="viewport",content="width=device-width")
    meta(http-equiv="X-UA-Compatible",content="IE=edge")
    |<?php wp_head();?>
  body
    //-==========================
      Header 
    //-==========================
    |<?php get_template_part('partials/header'); ?>

    //-==========================
      Content 
    //-==========================
    main
      block contents

    //-==========================
      footer 
    //-==========================
    |<?php get_template_part('partials/footer'); ?>

    //-==========================
      Offcanvas 
    //-==========================
    |<?php get_template_part('partials/offcanvas') ?>

    //-==========================
      WP footer
    //-==========================
    |<?php wp_footer();?>
